<<<<<<< HEAD
#page,.pos1{display:block;height:100% !important;}
=======
#page,.pos1{display:block;height:100% !important;}.pos2{float:left;margin:221px 0 343px 278px;display:inline;min-height:36px;height:auto !important;height:36px;}.pos3{min-width:702px;width:auto !important;width:702px;}
>>>>>>> d95b63ef83881832251cd98c05f9ca03431b50e9
